<div ng-controller="keypairsCtrl" class="ccc_content_holder">
    <div class="modal" tabindex="-1" role="dialog" id="keypair_delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">حذف کلید امنیتی</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-right">آیا اطمینان به حذف دارید؟</p>
                </div>
                <div class="modal-footer">
                    <button ng-click="delete_keypair()" type="button" class="btn btn-success modal-submit" data-dismiss="modal">بله</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="keypair_detail">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">جزییات کلید امنیتی</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><span class="font-weight-bold">ID</span> : {{ keypair.id }}</p>
                    <p><span class="font-weight-bold">Name</span> : {{ keypair.name }}</p>
                    <p><span class="font-weight-bold">Fingerprint</span> : {{ keypair.fingerprint }}</p>
                    <p><span class="font-weight-bold">Created</span> : {{ keypair.created_at }}</p>
                    <p><span class="font-weight-bold">User ID</span> : {{ keypair.user_id }}</p>
                    <p class="public_key"><span class="font-weight-bold">Public Key</span> : {{ keypair.public_key }}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="keypair_detail_after_create">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">جزییات کلید امنیتی</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="font-weight-bold float-left">Public Key</p>
                    <button id="public_key_button" class="btn btn-info" ng-click="copy_to_clipboard('public_key')">کپی کردن کلید عمومی</button>
                    <textarea rows="8" id="public_key" class="form-control text-left">{{ new_created_keypair.public_key }}</textarea>
                    <br>
                    <p class="font-weight-bold float-left">Private Key</p>
                    <button id="private_key_button" class="btn btn-info" ng-click="copy_to_clipboard('private_key')">کپی کردن کلید خصوصی</button>
                    <textarea rows="12" id="private_key" class="form-control text-left">{{ new_created_keypair.private_key }}</textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="keypair_create">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ساخت کلید امنیتی</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>نام کلید</label>
                            <input ng-model="new_keypair_data.name" type="text" class="form-control" placeholder="نام کلید">
                        </div>
                        <button ng-click="create_keypair()" type="submit" class="btn btn-primary submit-btn">بساز!</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <button ng-click="open_modal('keypair_create')" class="btn btn-success create-btn">ساختن کلید جدید</button>
            </div>
        </div>
        <div class="row table-section">
            <div class="col">
                <div class="card">
            <table class="table table-hover vps_list_table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>نام</th>
                    <th>Fingerprint</th>
                    <th>حذف</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="key in keypairs">
                    <td>{{ $index + 1 | persianNumber }}</td>
                    <td><a href=""
                           ng-click="show_keypair_detail(key.keypair.name)">{{ key.keypair.name | persianNumber }}</a>
                    </td>
                    <td>{{ key.keypair.fingerprint }}</td>
                    <td>
                        <button ng-click="open_permission_modal('keypair_delete', key.keypair.name)" class="btn btn-primary ccc_table_button">حذف</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
            </div>
        </div>
    </div>
</div>