<div ng-controller="volumeCtrl" class="ccc_content_holder">
    <div class="modal" tabindex="-1" role="dialog" id="volume_delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">حذف حافظه</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-right">آیا اطمینان به حذف دارید؟</p>
                </div>
                <div class="modal-footer">
                    <button ng-click="delete_volume()" type="button" class="btn btn-success modal-submit" data-dismiss="modal">بله</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="volume_detail">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">جزییات حافظه</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><span class="font-weight-bold">ID</span> : {{ volume.id }}</p>
                    <p><span class="font-weight-bold">Name</span> : {{ volume.displayName }}</p>
                    <p><span class="font-weight-bold">Status</span> : {{ volume.status }}</p>
                    <hr>
                    <p><span class="font-weight-bold">Size</span> : {{ volume.size }}</p>
                    <p><span class="font-weight-bold">Created</span> : {{ volume.createdAt }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="volume_create">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ساخت حافظه</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>نام حافظه</label>
                            <input ng-model="new_volume_data.name" type="text" class="form-control" placeholder="نام حافظه">
                        </div>
                        <div class="form-group">
                            <label>نوضیحات حافظه</label>
                            <input ng-model="new_volume_data.description" type="text" class="form-control" placeholder="نوضیحات حافظه">
                        </div>
                        <div class="form-group">
                            <label>اندازه</label>
                            <input ng-model="new_volume_data.size" type="number" class="form-control" placeholder="اندازه حافظه">
                        </div>
                        <button ng-click="create_volume()" type="submit" class="btn btn-primary submit-btn">بساز!</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <button ng-click="open_modal('volume_create')" class="btn btn-success create-btn">ساختن حافظه جدید</button>
            </div>
        </div>
        <div class="row table-section">
            <div class="col">
                <div class="card">
            <table class="table table-hover vps_list_table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>نام</th>
                    <th>توضیحات</th>
                    <th>اندازه ( گیگابایت )</th>
                    <th>وضعیت</th>
                    <th>در دسترس بودن</th>
                    <th>تخصیص به سرور</th>
                    <th>حذف</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="vol in volumes">
                    <td>{{ $index + 1 | persianNumber }}</td>
                    <td><a href=""
                           ng-click="show_volume_detail(vol.id)">{{ vol.displayName | persianNumber }}</a>
                    </td>
                    <td>{{ vol.displayDescription }}</td>
                    <td>{{ vol.size | persianNumber}}</td>
                    <td>{{ vol.status }}</td>
                    <td>{{ vol.availabilityZone }}</td>
                    <td>{{ vol.attached_volume_server_name }}</td>
                    <td>
                        <button ng-click="open_permission_modal('volume_delete', vol.id)" class="btn btn-primary ccc_table_button">حذف</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
            </div>
        </div>
    </div>
</div>