<div ng-controller="vpsCtrl" class="ccc_content_holder">
    <div class="modal" tabindex="-1" role="dialog" id="success_message">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">پیام موفقیت</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="img-fluid mx-auto d-block" style="width: 5em" src="/ccc_dashboard_panel/dashboard/static/src/img/checked.png">
                    <p class="text-center mt-3">اقدام شما با موفقیت انجام شد. در صورت به روز نشدن خودکار برای به روز رسانی وضعیت سرورها از دکمه‌ی مربوطه استفاده کنید.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="error_message">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">خطای سرور</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="img-fluid mx-auto d-block" style="width: 5em" src="/ccc_dashboard_panel/dashboard/static/src/img/cancel.png">
                    <p class="text-center mt-3">{{ error_message }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="instance_delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">حذف سرور</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-right">آیا اطمینان به حذف دارید؟</p>
                </div>
                <div class="modal-footer">
                    <active-button ng-click="delete_vps(deleteing_vps_id)"  button="delete_server_button" spinner-icon="fa-spinner"></active-button>
                    <button type="button" class="btn btn-info" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="instance_create">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ساخت سرور</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>نام سرور</label>
                            <input ng-model="new_instance_data.name" type="text" class="form-control" placeholder="نام سرور">
                        </div>
                        <div class="form-group">
                            <label>نوضیحات سرور</label>
                            <input ng-model="new_instance_data.description" type="text" class="form-control" placeholder="نوضیحات سرور">
                        </div>
                        <div class="form-group">
                            <label>Image</label>
                            <select ng-model="new_instance_data.image_id" class="form-control" id="sel1">
                                <option value="{{ image.id }}"
                                        ng-repeat="image in images">{{ image.name }}({{ image.size / 1024 / 1024 / 1024 }} GB)</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Flavor ( VCPUS, RAM, DISK )</label>
                            <select ng-model="new_instance_data.flavor_id" class="form-control" id="sel1">
                                <option value="{{ flavor.id }}"
                                        ng-repeat="flavor in flavors">{{ flavor.name }} ( {{ flavor.vcpus }} , {{ flavor.ram / 1024 }} GB, {{ flavor.disk }} GB )</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Network</label>
                            <select ng-model="new_instance_data.network_id" class="form-control" id="sel1">
                                <option value="{{ network.id }}"
                                        ng-repeat="network in networks">{{ network.name }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>تعداد</label>
                            <input ng-model="new_instance_data.count" type="number" min="1" class="form-control" placeholder="تعداد سرور">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <active-button ng-click="create_vps()"  button="create_server_button" spinner-icon="fa-spinner"></active-button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="console_show">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">کنسول</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-right">کنسول شما آماده است. برای نمایش کنسول روی دکمه زیر کلیک کنید.</p>

                </div>
                <div class="modal-footer">
                    <a class="escape-left" href="{{ console_url }}" target="_blank">
                        <button class="btn btn-primary">برو به کنسول</button>
                    </a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="volume_attachment">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">تخصیص حافظه</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>نام حافظه</label>
                            <select ng-model="attached_volume" class="form-control" id="sel1">
                                <option value="{{ volume.id }}"
                                        ng-repeat="volume in volumes">{{ volume.displayName }}</option>
                            </select>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <active-button ng-click="create_attachment(server_for_attach_or_detach)"  button="attach_volume_button" spinner-icon="fa-spinner"></active-button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="volume_detachment">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">گرفتن حافظه</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>نام حافظه</label>
                            <select ng-model="detached_volume" class="form-control" id="sel1">
                                <option value="{{ volume.id }}"
                                        ng-repeat="volume in attachment_volumes">{{ volume.name }}</option>
                            </select>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button ng-click="delete_attachment(server_for_attach_or_detach)" class="btn btn-primary escape-left">گرفتن</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <button ng-click="open_modal('instance_create')" class="btn btn-success create-btn">ساختن سرور جدید</button>
                <active-button ng-click="get_vps_list()"  button="refresh_servers_button" spinner-icon="fa-spinner"></active-button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card table-section">
            <table class="table table-hover vps_list_table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>آی پی</th>
                    <th>نام سرور</th>
                    <th>وضعیت سرور</th>
                    <th>نام تصویر</th>
                    <th>نام کلید</th>
                    <th>وضعیت</th>
                    <th>زمان ساخت</th>
                    <th>حذف</th>
                    <th>اقدامات</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="vps in vps_list">
                    <td>{{ $index + 1 | persianNumber }}</td>
                    <td>{{ vps.ip_addr }}</td>
                    <td>{{ vps.instance_name }}</td>
                    <td><span class="badge badge-pill badge-info status-badge">{{ vps.power_state }}</span></td>
                    <td>{{ vps.image_name }}</td>
                    <td>{{ vps.key_name }}</td>
                    <td><span class="badge badge-pill badge-primary status-badge">{{ vps.status }}</span></td>
                    <td>{{ vps.created }}</td>
                    <td>
                        <button ng-click="delete_vps_permission_modal(vps.id)" class="btn btn-primary ccc_table_button">حذف سرور</button>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary ccc_action_button dropdown-toggle"
                                    data-toggle="dropdown">
                                اقدامات
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="" ng-click="vps_action(vps.id, 'REBOOT')">راه‌اندازی
                                    مجدد</a>
                                <a class="dropdown-item" href="" ng-click="vps_action(vps.id, 'SHUTOFF')">خاموش کردن</a>
                                <a class="dropdown-item" href="" ng-click="vps_action(vps.id, 'START')">روشن کردن</a>
                                <a class="dropdown-item" href="" ng-click="vps_action(vps.id, 'CONSOLE')">کنسول</a>
                                <a class="dropdown-item" href="" ng-click="open_delete_attachment(vps.id)">اختصاص
                                    حافظه</a>
                                <a class="dropdown-item" href="" ng-click="get_attachments(vps.id)">گرفتن حافظه</a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
            </div>
        </div>
    </div>
</div>