{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <title>ورود به پنل مدیریتی مرکز پردازش ابری</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'src/css/ccc.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.22/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-cookies.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/satellizer/0.14.1/satellizer.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{% static 'modules/dashboard/dashboardApp.js' %}"></script>
    <script src="{% static 'modules/dashboard/controllers/mainCtrl.js' %}"></script>
    <script src="{% static 'modules/dashboard/controllers/vpsCtrl.js' %}"></script>
    <script src="{% static 'modules/dashboard/services/dashboardHttpRequest.js' %}"></script>
</head>

<body ng-app="dashboard" ng-controller="mainCtrl">
<ui-view></ui-view>
<script src="{% static 'modules/dashboard/controllers/loginCtrl.js' %}"></script>
<script src="{% static 'modules/dashboard/controllers/dashboardCtrl.js' %}"></script>
<script src="{% static 'modules/dashboard/controllers/overviewCtrl.js' %}"></script>
<script src="{% static 'modules/dashboard/controllers/keypairCtrl.js' %}"></script>
<script src="{% static 'modules/dashboard/controllers/volumeCtrl.js' %}"></script>
<script src="{% static 'modules/dashboard/controllers/privacyCtrl.js' %}"></script>
</body>
</html>
